.barrels {
    margin: 30px 50px;
    background-color: #f5cca027;
    height: 60vh;
    width: 95%;
    margin-bottom: 75px;
    display: flex;
    align-items: center; /* Vertical alignment */
    gap: 20px; /* Spacing between image and text */
}

.barrels h2 {
    font-family: 'Cormorant Infant';
    font-size: 4em;
    margin: 20px;
    color: #E48F45;
}

.barrels p {
    font-family: 'alata', 'sans-serif';
    font-size: 1.2em;
    margin: 20px;
    margin-right: 25%;
    color: #F5CCA0;
}

.barrels img {
    height: 60vh;
    width: 49vw;
    margin-right: -195px;
    float: right; /* Move the image to the right */
    animation: slideInRight 4s forwards; /* Use the right-to-left animation */
}

.barrels-text {
    /* float: left; */
    align-items: center;
    margin: 0 75px;
    margin-top: 60px;
    margin-right: 40%;
    animation: slideInRight 4s forwards; /* Use the previous animation for text */
}

.underline-animation {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    margin: 20px;
    font-family: 'alata', 'sans-serif';
    color: #E48F45; /* Text color */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s ease-in-out; /* Transition color change */
}

.underline-animation::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Initially set width to 0 */
    height: 2px; /* Set the height of the underline */
    background-color: #E48F45; /* Color of the underline */
    transition: width 0.3s ease-in-out; /* Transition width change */
}

.underline-animation:hover::before {
    width: 100%; /* Expand the underline to full width on hover */
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


