footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-image: url('https://hips.hearstapps.com/hmg-prod/images/napa-valley-california-wine-country-vineyard-field-royalty-free-image-1657062881.jpg');
  background-size: cover;
  background-position: center;
}

footer p {
  color: #ccc;
}